body {
    color: #333;
}

a {
    color: #333;
}
h2 {
    color: #333;
}

.btn-clock {
    font-size: 30px;
    /*text-align: center;*/
    width: 300px;
    height: 120px;
    background-color: #DCDCDC;
    margin: 10px;
    cursor: not-allowed;
}

.btn-login {
     background-color: #FFC314;
 }

.btn-login-manager {
    background-color: #7abaff;
}

.btn-panel-clocking {
    /*text-align: center;*/
}

.clock-active {
    background-color: #FFC314;
    cursor: pointer;
}
#cdawrap {
    display: none;
}

.jumbotron {
    overflow: hidden;
    background-color: white;
}

